@font-face {
  font-family: Champagne Socialist;
  src: url('data/ChampagneSocialist-Mono.otf');
}

html, body {
  margin: 0;
  padding: 0;
}

body {background-color: #ff681e;}

canvas {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;  
}

p {
  font-family: Champagne Socialist;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 2.5vw;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}